@page
@model DashioTemplateCore.Pages.blankModel
@{
    ViewData["Title"] = "blank";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section headerJS{}
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <p>Place your content here.</p>
                @Html.Raw(Model.Content)
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>


@section footerJS{

   <script>

       $('#li_blank').attr('class', 'active');
       $('#li_extrapage').attr('class', 'active');
    </script>

}
