@page
@model DashioTemplateCore.Pages.chartjsModel
@{
    ViewData["Title"] = "chartjs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Chartjs Charts</h3>
        <!-- page start-->
        <div class="tab-pane" id="chartjs">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Doughnut</h4>
                        <div class="panel-body text-center">
                            <canvas id="doughnut" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Line</h4>
                        <div class="panel-body text-center">
                            <canvas id="line" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Radar</h4>
                        <div class="panel-body text-center">
                            <canvas id="radar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Polar Area</h4>
                        <div class="panel-body text-center">
                            <canvas id="polarArea" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Bar</h4>
                        <div class="panel-body text-center">
                            <canvas id="bar" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Pie</h4>
                        <div class="panel-body text-center">
                            <canvas id="pie" height="300" width="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>

@section footerJS{

    <script src="lib/chart-master/Chart.js"></script>
    <script src="lib/chartjs-conf.js"></script>


    <script>

        $('#li_charts').attr('class', 'active');
        $('#li_chartjs').attr('class', 'active');
    </script>

}