@page
@model DashioTemplateCore.Pages.faqModel
@{
    ViewData["Title"] = "faq";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt mb">
            <div class="col-lg-12">
                <h3><i class="fa fa-angle-right"></i> F.A.Q</h3>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="dmbox">
                        <div class="service-icon">
                            <a class="" href="#"><i class="dm-icon fa fa-question fa-3x"></i></a>
                        </div>
                        <h4>1. Knowledge-Base</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                    </div>
                </div>
                <!-- end dmbox -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="dmbox">
                        <div class="service-icon">
                            <a class="" href="#"><i class="dm-icon fa fa-envelope-o fa-3x"></i></a>
                        </div>
                        <h4>2. Report a Bug</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                    </div>
                </div>
                <!-- end dmbox -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="dmbox">
                        <div class="service-icon">
                            <a class="" href="#"><i class="dm-icon fa fa-random fa-3x"></i></a>
                        </div>
                        <h4>3. Submit a Ticket</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                    </div>
                </div>
                <!-- end dmbox -->
            </div>
            <!--  /col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row content-panel">
            <h2 class="centered">Most Asked Questions</h2>
            <div class="col-md-10 col-md-offset-1 mt mb">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq#collapseOne">
                                <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>How to purchase this template?
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq#collapseTwo">
                                <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>How can I install my server?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq#collapseThree">
                                <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>How to change color schemes?
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq#collapseFour">
                                <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>How to integrate Revolution Slider?
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="faq#collapseFive">
                                <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>How Can I get Support?
                            </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end accordion -->
            </div>
            <!-- col-md-10 -->
        </div>
        <!--  /row -->
    </section>
    <!-- /wrapper -->
</section>


@section footerJS{

    <script>

        $('#li_faq').attr('class', 'active');
        $('#li_extrapage').attr('class', 'active');
    </script>

}
