@page
@model DashioTemplateCore.Pages.inline_editorModel
@{
    ViewData["Title"] = "inline_editor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Inline Editor</h3>
        <div class="row content-panel mt mb">
            <div class="col-md-6">
                <h2 contenteditable="true">Dashio is a fully responsive admin dashboard template built with Bootstrap 3.1.1 Framework</h2>
                <h3 contenteditable="true">Following the Equator, Complete</h3>
                <h4 contenteditable="true">Mark Twain (Samuel Clemens)</h4>
            </div>
            <div class="col-md-6">
                <p contenteditable="true" class="mt">
                    Later, when we reached the city, and glanced down the chief avenue, smouldering in its crushed-strawberry tint, those splendid effects were repeated; for every balcony, and every fanciful bird-cage of a snuggery countersunk in the house-fronts,
                    and all the long lines of roofs were crowded with people, and each crowd was an explosion of brilliant color.
                </p>
                <p contenteditable="true">For color, and picturesqueness, and novelty, and outlandishness, and sustained interest and fascination, it was the most satisfying show I had ever seen, and I suppose I shall not have the privilege of looking upon its like again.</p>
                <p contenteditable="true">In the first place God made idiots. This was for practice. Then He made School Boards. --Pudd'nhead Wilson's New Calendar.</p>
                <p contenteditable="true">
                    "I pray please to give me some action (work) for I am very poor boy I have no one to help me even so father for it so it seemed in thy good sight, you give the Telegraph Office, and another work what is your wish I am very poor boy, this understand
                    what is your wish you my father I am your son this understand what is your wish.
                </p>
            </div>
        </div>
        <div class="mt"></div>
        <div class="row content-panel mt mb">
            <div class="col-md-6">
                <h3 contenteditable="true">The Count of Monte Cristo</h3>
                <h4 contenteditable="true">Alexander Dumas, Pere</h4>
            </div>
            <div class="col-md-6">
                <p contenteditable="true" class="mt">"What, still keeping up this silly jest? My dear fellow, it is perfectly ridiculous--stupid! You had better tell me at once that you intend starving me to death."</p>
                <p contenteditable="true">"And what am I to pay with, brute?" said Danglars, enraged. "Do you suppose I carry 100,000 francs in my pocket?"</p>
                <p contenteditable="true">"Your excellency has 5,050,000 francs in your pocket; that will be fifty fowls at 100,000 francs apiece, and half a fowl for the 50,000."</p>
                <p contenteditable="true">
                    Danglars shuddered. The bandage fell from his eyes, and he understood the joke, which he did not think quite so stupid as he had done just before. "Come," he said, "if I pay you the 100,000 francs, will you be satisfied, and allow me to eat
                    at my ease?"
                </p>
            </div>
        </div>
        <div class="mt"></div>
        <div class="row content-panel mt mb">
            <div class="col-md-6 mt">
                <blockquote contenteditable="true">A bird sitting on a tree is never afraid of the branch breaking, because her trust is not in the branch, but in her own wings.</blockquote>
                <h5 contenteditable="true">Believe in yourself</h5>
            </div>
            <div class="col-md-6 mt">
                <blockquote contenteditable="true">Gossip is started by the insecure, spread by fools, and accepted by idiots. Don't be any of the three.</blockquote>
                <h5 contenteditable="true">Unknown</h5>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>

@section footerJS{
    <script>

        $('#li_components').attr('class', 'active');
        $('#li_inline_editor').attr('class', 'active');
    </script>

}