@page
@model DashioTemplateCore.Pages.mail_viewModel
@{
    ViewData["Title"] = "mail_view";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body">
                        <a href="mail_compose" class="btn btn-compose">
                            <i class="fa fa-pencil"></i>  Compose Mail
                        </a>
                        <ul class="nav nav-pills nav-stacked mail-nav">
                            <li class="active"><a href="dash"> <i class="fa fa-inbox"></i> Inbox  <span class="label label-theme pull-right inbox-notification">3</span></a></li>
                            <li><a href="#"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                            <li><a href="#"> <i class="fa fa-exclamation-circle"></i> Important</a></li>
                            <li>
                                <a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">8</span></a></a>
                            </li>
                            <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                    </div>
                </section>
                <section class="panel">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li>
                                <h4>Friends Online</h4>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/friends/fr-10.jpg" class="img-circle" width="20">Laura
                                    <p><span class="label label-success">Available</span></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/friends/fr-05.jpg" class="img-circle" width="20">David
                                    <p><span class="label label-danger"> Busy</span></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/friends/fr-01.jpg" class="img-circle" width="20">Mark
                                    <p>Offline</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/friends/fr-03.jpg" class="img-circle" width="20">Phillip
                                    <p>Offline</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/friends/fr-02.jpg" class="img-circle" width="20">Joshua
                                    <p>Offline</p>
                                </a>
                            </li>
                        </ul>
                        <a href="#"> + Add More</a>
                        <div class="inbox-body text-center inbox-action">
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn mini btn-default" href="javascript:;">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-9">
                <section class="panel">
                    <header class="panel-heading wht-bg">
                        <h4 class="gen-case">
                            View Message
                            <form action="#" class="pull-right mail-src-position">
                                <div class="input-append">
                                    <input type="text" class="form-control " placeholder="Search Mail">
                                </div>
                            </form>
                        </h4>
                    </header>
                    <div class="panel-body ">
                        <div class="mail-header row">
                            <div class="col-md-8">
                                <h4 class="pull-left"> Dashio, New Admin Dashboard & Front-end </h4>
                            </div>
                            <div class="col-md-4">
                                <div class="compose-btn pull-right">
                                    <a href="mail_compose" class="btn btn-sm btn-theme"><i class="fa fa-reply"></i> Reply</a>
                                    <button class="btn  btn-sm tooltips" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                                    <button class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="mail-sender">
                            <div class="row">
                                <div class="col-md-8">
                                    <img src="img/ui-zac.jpg" alt="">
                                    <strong>Zac Doe</strong>
                                    <span>[zac@youremail.com]</span> to
                                    <strong>me</strong>
                                </div>
                                <div class="col-md-4">
                                    <p class="date"> 10:15AM 02 FEB 2014</p>
                                </div>
                            </div>
                        </div>
                        <div class="view-mail">
                            <p>
                                As he bent his head in his most courtly manner, there was a secrecy in his smiling face, and he conveyed an air of mystery to those words, which struck the eyes and ears of his nephew forcibly. At the same time, the thin straight lines
                                of the setting of the eyes, and the thin straight lips, and the markings in the nose, curved with a sarcasm that looked handsomely diabolic.
                            </p>
                            <p>"Yes," repeated the Marquis. "A Doctor with a daughter. Yes. So commences the new philosophy! You are fatigued. Good night!"</p>
                            <p>It would have been of as much avail to interrogate any stone face outside the chateau as to interrogate that face of his. The nephew looked at him, in vain, in passing on to the door. </p>
                            <p>
                                "Good night!" said the uncle. "I look to the pleasure of seeing you again in the morning. Good repose! Light Monsieur my nephew to his chamber there!--And burn Monsieur my nephew in his bed, if you will," he added to himself, before
                                he rang his little bell again, and summoned his valet to his own bedroom.
                            </p>
                        </div>
                        <div class="attachment-mail">
                            <p>
                                <span><i class="fa fa-paperclip"></i> 2 attachments — </span>
                                <a href="#">Download all attachments</a> |
                                <a href="#">View all images</a>
                            </p>
                            <ul>
                                <li>
                                    <a class="atch-thumb" href="#">
                                        <img src="img/instagram.jpg">
                                    </a>
                                    <a class="name" href="#">
                                        IMG_001.jpg
                                        <span>20KB</span>
                                    </a>
                                    <div class="links">
                                        <a href="#">View</a> -
                                        <a href="#">Download</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="atch-thumb" href="#">
                                        <img src="img/weather.jpg">
                                    </a>
                                    <a class="name" href="#">
                                        IMG_001.jpg
                                        <span>20KB</span>
                                    </a>
                                    <div class="links">
                                        <a href="#">View</a> -
                                        <a href="#">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="compose-btn pull-left">
                            <a href="mail_compose" class="btn btn-sm btn-theme"><i class="fa fa-reply"></i> Reply</a>
                            <button class="btn btn-sm "><i class="fa fa-arrow-right"></i> Forward</button>
                            <button class="btn  btn-sm tooltips" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> </button>
                            <button class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>

@section footerJS{

    <script>
        $('#li_inbox').attr('class', 'active');

    </script>


}