@page
@model DashioTemplateCore.Pages.morrisModel
@{
    ViewData["Title"] = "morris";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Morris Charts</h3>
        <!-- page start-->
        <div id="morris">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 1</h4>
                        <div class="panel-body">
                            <div id="hero-graph" class="graph"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
                        <div class="panel-body">
                            <div id="hero-bar" class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 3</h4>
                        <div class="panel-body">
                            <div id="hero-area" class="graph"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 4</h4>
                        <div class="panel-body">
                            <div id="hero-donut" class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>


@section footerJS{

    <script src="lib/raphael/raphael.min.js"></script>
    <script src="lib/morris/morris.min.js"></script>

    <script src="lib/morris-conf.js"></script>

    <script>

        $('#li_charts').attr('class', 'active');
        $('#li_morris').attr('class', 'active');
    </script>

}